<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" http://www.w3.org/TR/html4/strict.dtd">

<html>

   <head>
      <title>Timestamp Microservice</title>
      <link rel="shortcut icon" href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="style.css" rel="stylesheet" type="text/css">
   </head>

   <body>

      <div class="container">
        <h2>API Project: Timestamp Microservice</h2>
        <h3>Example Usage:</h3>
        <ul>
          <li>
            <a href="https://holistic-copper.glitch.me/api/timestamp/2015-12-25">https://holistic-copper.glitch.me/api/timestamp/2015-12-25</a></li>
          <li><a href="https://holistic-copper.glitch.me/api/timestamp/1450137600">https://holistic-copper.glitch.me/api/timestamp/1450137600</a></li>
        </ul>

        <h3>Example Output:</h3>
        <p>
          <code>{"unix":1451001600000, "utc":"Fri, 25 Dec 2015 00:00:00 GMT"}</code>
        </p>
      </div>
      <div class="footer">
        <p>
          Made with &#10084; by <a href="https://www.freecodecamp.org/jasmeetsohal">jasmeetsohal</a> 
        </p>
      </div>
   </body>

</html>
